@import "../../vars.css";


.aboutContainer {
    display: flex;
    color: var(--color-text);
    background: rgba(29, 29, 29, 0.75);
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.50);
    z-index: 10;
    margin: 12px 10%;
    padding: 48px 32px;
}

.sideTitle {
    width: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 1px var(--color-text);
    color: transparent;
    font-style: italic;
}

.sideTitle span {
    -webkit-text-stroke: 1px var(--color-primary);
    color: transparent;
}

.sideTitle h1 {
    padding-left: 32px;
    font-size: 124px;
}

.body {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 4;
    gap: 40px;
}

.body p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 100;
    z-index: 4;
    font-family: var(--font-body);
}



.skillsContainer {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    padding: 48px 32px;
    margin: 12px 10%;
    z-index: 3;
}

.skillsTitle {
    font-size: 40px;
    font-weight: 550;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: right;
    -webkit-text-stroke: 1px var(--color-text);
    color: transparent;
    font-style: italic;
}

.skillsTitle span {
    -webkit-text-stroke: 1px var(--color-primary);
    color: transparent;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    gap: 32px;
    justify-content: space-around;
}

.skill {
    display: flex;
    align-items: center;
    background-color: rgba(29, 29, 29);
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease;
    width: 300px;
}

.skill:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.skillContent {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.imgContainer {
    width: 20%;
    display: flex;
    align-items: center;
}

.titleContainer {
    width: 80%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: aqua; */
}

.imgContainer img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.titleContainer p {
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-text);
}

@media screen and (max-width: 1600px) {
    .sideTitle h1 {
        padding-left: 32px;
        font-size: 100px;
    }
}

@media screen and (max-width: 1300px) {
    .aboutContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
    }

    .sideTitle {
        justify-content: center;
        width: 100%;
    }

    .sideTitle h1 {
        padding-left: 0px;
    }

    .body {
        width: 80%;
    }

    .skill {
        width: 250px;
    }
}

@media screen and (max-width: 930px) {
    .sideTitle h1 {
        font-size: 80px;
    }

    .skill {
        width: 200px;
    }
}