@import "../../vars.css";

.navbar {
    padding: 16px 0;
    z-index: 20;
    position: sticky;
    top: 0;
    background-color: rgba(33, 33, 33, 0.8);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbarHidden {
    padding: 16px 0;
    z-index: 20;
    position: sticky;
    top: 10;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    position: relative;
    /* background-color: var(--color-border); */
}

/* === Title === */
.title {
    font-family: var(--font-display);
    letter-spacing: 1.75px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    -webkit-text-stroke: 1px var(--color-text);
    color: transparent;
    font-style: italic;
}

.titleSpan {
    -webkit-text-stroke: 1px var(--color-primary);
    color: transparent;
}

/* === Hamburger === */
.hamburger {
    display: none;
    font-size: 48px;
    color: var(--color-text);
    cursor: pointer;
    z-index: 20;
}

/* === Menu === */
.menuItems {
    display: flex;
    gap: 64px;
    list-style: none;
    font-family: var(--font-body);
    font-weight: 600;
}

.menuItems li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color-text);
    transition: color 0.2s ease;
    font-family: var(--font-body);
    font-weight: 600;
    padding-bottom: 4px;
}

.menuItems li a:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    cursor: pointer;
}

.activeLink {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary) !important;
}

/* === Responsive === */
@media screen and (max-width: 850px) {
    .hamburger {
        display: block;
    }

    .menuItems {
        /* display: none; */
        opacity: 0;
        position: absolute;
        top: 64px;
        width: 256px;
        right: 0;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        background: rgba(29, 29, 29, 0.75);
        padding: 32px;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.50);
        z-index: 3;
        transition: 0.2s ease-in-out;
    }

    .menuOpen {
        /* display: flex; */
        opacity: 1;
    }
}